{% extends 'FenchyAdminBundle::layout.html.twig' %}
{% form_theme filter '::filterForm.html.twig' %}
{% block admincontent %}
    <form action="{{ path('fenchy_admin_users') }}" method="post" {{ form_enctype(filter) }}>
        {{ form_widget(filter) }}
        <br/>
        <input type="submit" value="Search"/>
    </form>
    <table class="admin-table">
        <thead>
            <tr><th>ID</th><th>Firstname</th><th>Lastname</th><th>E-mail</th><th>Last login</th><th>Stickers</th><th>Actions</th></tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="has-subrow">
                    <td>#{{ user.id }}</td>
                    <td>{{ user.userRegular.firstname }}</td>
                    <td>{{ user.userRegular.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.lastLogin|date('Y-m-d H:i') }}</td>
                    <td>{{ user.stickers.count }}</td>
                    <td>
                        <a href="{{ url('fenchy_admin_user', {id: user.id}) }}" style="color:black">Profile</a>
                    </td>
                </tr>
                <tr class="subrow displayNone">
                    <td>&nbsp;</td>
                    <td colspan="6">
                        <table>
                            <thead>
                                <tr><th>Reporter</th><th>Reason</th><th>Description</th><th>Created at</th></tr>
                            </thead>
                            <tbody>
                                {% for sticker in user.stickers %}
                                    <tr>
                                        <td>{{ sticker.reportedBy }}</td>
                                        <td>{{ sticker.reasonName }}</td>
                                        <td>{{ sticker.description }}</td>
                                        <td>{{ sticker.createdAt|date('Y-m-d H:i') }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
    