<!DOCTYPE html>
<!--[if lt IE 7]>				<html lang="en" class="ie ie6 lte9 lte8 lte7">	<![endif]-->
<!--[if IE 7]>					<html lang="en" class="ie ie7 lte9 lte8 lte7">	<![endif]-->
<!--[if IE 8]>					<html lang="en" class="ie ie8 lte9 lte8">		<![endif]-->
<!--[if IE 9]>					<html lang="en" class="ie ie9 lte9">			<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->	<html lang="en">								<!--<![endif]-->
        <head>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
            <meta charset="UTF-8">
            <link rel="icon" href="{{ asset('favicon.ico') }}" />
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ absolute(asset('css/frontend/font-awesome.css')) }}" type="text/css" />                
                <link rel="stylesheet" href="{{ absolute(asset('css/app/base-v2.css')) }}" type="text/css" />
                <link rel="stylesheet" href="{{ asset('css/app/header-v2.css') }}" type="text/css" />
                <link rel="stylesheet" href="{{ asset('css/app/foot-v2.css') }}" type="text/css" />
                <link rel="stylesheet" href="{{ asset('js/fancybox/jquery.fancybox-1.3.4.css') }}" type="text/css" /> 
                {% if not app.user %}
                <link rel="stylesheet" href="{{ asset('css/regular_user/registration/login-v2.css') }}" type="text/css" />
                {% else %}
                <link rel="stylesheet" href="{{ asset('css/regular_user/profile/userprofile-v2.css') }}" type="text/css" />
                {% endif %}  
            {% endblock %}
            {% block javascripts %}
                {# any view specific JS scripts for this view #}                
                <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
                <!--[if lt IE 9]>
                    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                    <script type="text/javascript" src="{{ absolute(asset('js/respond.min.js')) }}"></script>	
                <![endif]-->
                <!--[if lte IE 9]>
                    <script type="text/javascript" src="{{ asset('js/jquery.placeholder.min.js') }}"></script>
                    <script type="text/javascript">                
                        $(document).ready(function(){$('input, textarea').placeholder();});
                    </script>
                <![endif]-->
                <script type="text/javascript" src="{{ asset('plugins/jquery-ui-1.9.1.custom/js/jquery-ui-1.9.1.custom.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('plugins/jquery-blockui/jquery.blockui.js') }}" ></script>
                <script type="text/javascript" src="{{ absolute(asset('js/sript-action-v2.js')) }}"></script>
                <script type="text/javascript" src="{{ absolute(asset('js/regular_user/profile/footer-lang-dialogv2.js')) }}"></script>
                <script type="text/javascript" src="{{ asset('js/fancybox/jquery.fancybox-1.3.4.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/fancybox/jquery.mousewheel-3.0.4.pack.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/i18n/jquery.ui.datepicker-'~app.request.locale~'.js') }}"></script>
                {% if not app.user %}                
                <script type="text/javascript" src="{{ asset('js/regular_user/login/form.js') }}"></script>
                <script type="text/javascript" src="{{ asset('js/regular_user/registration/form.js') }}"></script>
                {% else %}
                <script type="text/javascript" src="{{ asset('js/regular_user/profile/userprofile-v2.js') }}"></script>
                {% endif %}                
                {% if not app.user %}
                <script type="text/javascript">
                function onFbInit() {
                    $('.login-with-facebook').click(function(){
                        FB.login(function(response) {

                            if (response.authResponse) {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('fenchy_login_facebook') }}",
                                    data: { token: response.authResponse.accessToken, facebookId: response.authResponse.userID }
                                }).done(function( data ) {
                                    if (null != data.url) {
                                        window.location.replace( data.url );
                                    } else {
                                        alert( '{{ 'regularuser.unexpected_problem_facebook'|trans }}');
                                    }
                                }).fail(function( data ) {
                                    if (null != data.responseText) {
                                        alert( data.responseText );
                                    } else {
                                        alert( '{{ 'regularuser.unexpected_problem_facebook'|trans }}');
                                    }
                                });
                            }
                        }, {
                            scope: 'email, user_birthday, user_location'
                        });
                        return false;
                    });
                }
                
                </script>  
                {% endif %}
                
                <script type="text/javascript">
                    $(document).ready(function(){
                    {% if app.user and not app.user.location.location %}
                        $("input#location").fancybox({
                            type: 'iframe',
                            href: '{{ path('fenchy_regular_user_settings_filllocationpopup') }}?'+Math.random(),
                            width: 900,
                            height: 550,
                            centerOnScroll: true,
                            onClosed: function(){
                                window.location.reload();
                            }
                        });                        
                        
                    {% endif %}
                    });
                    </script>
            {% endblock %}
                
            {% block plugins %}
            {% endblock %}
            <title>{% block title %}{{ 'main.title_suffix'|trans }}{% endblock %}</title>
            
    </head>
    <body>
        <div id="page">            
                {% block header %}
                    {% include '::headerV2.html.twig' %}
                {% endblock %}
                <div id="page-spacer"></div>
                {% block body %}
                    {% block tagline_content %}

                    {% endblock %}
                <div id="page-wrapper" class="container">                      
                   {% block positive_msg %}
                       {% set flash = app.session.flash('positive') %}
                       {% if flash|length > 0 %}
                           <div class="flash-message">
                               <div class="flash-message-inner">
                                   <p id="account-resume" class="alert-success"><i class="icon-ok"></i>{{ flash|trans }}</p>
                               </div>
                           </div>
                       {% endif %}
                       {% set flash = app.session.flash('positive-overlayer') %}
                       {% if flash|length > 0 %}
                           <div class="flash-message flash-message-overlayer">
                               <div class="flash-message-inner">
                                   <p id="account-resume" class="alert-success"><i class="icon-ok"></i>{{ flash|trans }}</p>
                               </div>
                           </div>
                       {% endif %}                        
                   {% endblock %}

                   {% block negative_msg %}
                       {% set flash = app.session.flash('negative') %}
                       {% if flash|length > 0 %}
                           <div class="flash-message">
                               <div class="flash-message-inner">
                                   <p id="account-resume" class="alert-error"><i class="icon-remove"></i>{{ flash|trans }}</p>
                               </div>
                           </div>
                       {% endif %}
                       {% set flash = app.session.flash('negative-overlayer') %}
                       {% if flash|length > 0 %}
                           <div class="flash-message flash-message-overlayer">
                               <div class="flash-message-inner">
                                   <p id="account-resume" class="alert-error"><i class="icon-remove"></i>{{ flash|trans }}</p>
                               </div>
                           </div>
                       {% endif %}                        
                   {% endblock %}

                       {% block content %}

                       {% endblock %}

                   {% endblock %}
                   <div class="footer-push"></div>
               </div>
            {% block foot %}
                {% include '::footV2.html.twig' %}
                {% if not app.user %}
                {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
                {% endif %}
            {% endblock %}
        </div>
    </body>
</html>