{# empty Twig template #}

    <footer class="main" data-role="footer">
        <div class="container clearfix">
            <nav class="main clearfix">
                <ul>
                    <li><a href="{{path('fenchy_frontend_about')}}">{{ 'main.about_us'|trans }}</a></li>
                    <li><a href="{{path('fenchy_frontend_jobs')}}">{{ 'main.jobs'|trans }}</a></li>
                    <li><a href={{path('fenchy_frontend_advertising')}}>{{ 'main.advertising'|trans }}</a></li>
                    <li><a href={{path('fenchy_frontend_terms')}}>{{ 'main.terms'|trans }}</a></li>
                    <li><a href={{path('fenchy_frontend_privacy')}}>{{ 'main.privacy'|trans }}</a></li>
                    <li class="last"><a href={{path('fenchy_frontend_imprint')}}>{{ 'main.imprint'|trans }}</a></li>
                </ul>
            </nav>
            <div class="social-lang">
                <ul>
                    <li class="soc_btn fb"><a href="#"><i>f</i></a></li>
                    <li class="soc_btn tt"><a href="#"><i>t</i></a></li>                                    
                    <li id="lang-menu" class="lang">                
                        <ul class="clearfix">
                            <li id="lang-menu-chosen">
                                <a href="#" id="choose-lang"><strong>
                                            {% if app.request.locale == 'pl' %}
                                                {{ 'frontend.polski'|trans}}
                                            {% elseif app.request.locale == 'en' %}
                                                {{ 'frontend.english'|trans}}
                                            {% elseif app.request.locale == 'de' %}
                                                {{ 'frontend.deutsch'|trans}}
                                            {% endif %}
                                                
                                            </strong>                                        
                                    </a>
                                    <i class="icon-caret-down"></i>
                                    <i class="icon-caret-up"></i>
                            </li>
                        </ul>
                    </li>                                    
                </ul>
                    
                <div id="lang-menu-wrapper">
                    <ul>
                        {% if app.request.locale != 'en' %}
                            <li class="en-flag">
                                <a href="{{ path('fenchy_regular_user_chooselang', {'locale': 'en'}) }}"><strong>{{ 'frontend.english'|trans}}</strong></a>
                            </li>
                        {% endif %}
                            
                        {% if app.request.locale != 'de' %}                            
                        <li class="de-flag">
                            <a href="{{ path('fenchy_regular_user_chooselang', {'locale': 'de'}) }}"><strong>{{ 'frontend.deutsch'|trans}}</strong></a>
                        </li>
                        {% endif %}
                        
                        {% if app.request.locale != 'pl' %}                        
                        <li class="pl-flag">
                            <a href="{{ path('fenchy_regular_user_chooselang', {'locale': 'pl'}) }}"><strong>{{ 'frontend.polski'|trans}}</strong></a>
                        </li>
                        {% endif %}                        
                        
                    </ul>
                </div>                    
                    
            </div>
        </div>
        <!-- container -->
    </footer>
    <!-- main -->
    
    {% if not app.user %}
    <div id="signup-wrapper" class="loginform">
        
        {% render 'UserBundle:Registration:register' %}
        
    </div>
    {% endif %}
