{% extends 'FenchyRegularUserBundle::settings.html.twig' %}
{% form_theme form.location '::noLabelForm.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/app/settings-v2.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('css/app/main-container-v2.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/regular_user/listing/create.js') }}"></script>
<script type="text/javascript" src="{{ asset('plugins/ko/knockout-2.2.1.debug.js') }}"></script>
{% include '::gmapsApiAsset.html.twig' %}

<script type="text/javascript" src="{{ asset('js/ko-extensions/jquery-autocomplete.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mvvm/user-settings-view-model.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/lib/gapi-autocomplete.js') }}"></script>

<script type="text/javascript">

    userSettingsViewModel = null;

    $(document).ready(function() {
        geocoder = new google.maps.Geocoder();
        var baseSearchViewUri = '{{ path('fenchy_notice_indexv2') }}';

        userSettingsViewModel = new UserSettingsViewModel(geocoder, baseSearchViewUri);

        ko.applyBindings(userSettingsViewModel, document.getElementsByTagName('body')[0]);

        autocomplete = new GApiAutocomplete(
                document.getElementById('fenchy_userbundle_user_locationtype_location_location'),
                userSettingsViewModel);


    });
    function hasCoordinates()
    {
            {% if app.user.hasRequiredLocation %}
        return true;
            {% endif %}

        return false;
    }

    function getLatitude()
    {
        return '{{ app.user.location.latitude }}'
    }

    function getLongitude()
    {
        return '{{ app.user.location.longitude }}';
    }
    </script>
    
    <script src="{{ asset('js/geolocalization.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        initialize();
    });
        </script>
        <script type="text/javascript" src="{{ asset('js/regular_user/settings/form.js') }}"></script>
{% endblock %}

{% block settings_content %}

            <section id="profile_left_menu" class="sidebar pull-left">
                <div class="wrapper">
                    {% include 'FenchyRegularUserBundle:Settings:menuV2.html.twig' %}
                </div>                
            </section>
            <section class="content pull-right">
                <div class="profile_right_content inner-content">
                    <header><h1>{{ 'regularuser.settings'|trans }}</h1></header>
                    <form action="{{ path('fenchy_regular_user_settings_location') }}" method="post" {{ form_enctype(form) }} class="form-settings location">
                        
                        <div class="form-box-wrapper">
                            <h2>{{ 'settings.location.name'|trans }}</h2>
                            <div id="printable-wrapper" class="row input-wrapper">
                                <div class="input-element">
                                    {{ form_row(form.location.printable) }}
                                </div>
                                <p class='form-description'>{{ 'regularuser.printable_location_description' | trans}}</p>
                            </div>
                            <div class="row input-wrapper">
                                <div class="input-element">
                                    {{ form_row(form.location.location) }}
                                </div>
                            </div>
                            <div class="map_wrapper">
                                <div id="map_loc">
                                    <div id="map_canvas"></div>
                                    <div class="pin_button">
                                        <a class="button" href="#" onclick="putPin()">{{ 'regularuser.put_pin'|trans }}</a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div style="display: none">
                                {{form_rest(form)}}
                            </div>
                            <footer class="clearfix">
                                <div class="button grey-button pull-left" id="buttons">
                                    <a id="back" class="wrapper" href="{{path('fenchy_frontend_indexv2')}}">
                                        <strong>{{ 'btn.cancel'|trans }}</strong>
                                    </a>                            
                                </div>
                                <div class="button submit pull-right">
                                    <div>
                                        <input type="submit" id="continue" value="{{ 'btn.save'|trans }}"/>                                
                                    </div>
                                </div>
                            </footer>
                        </div>                        
                    </form>
                </div>
            </section>

{% endblock %}
