{% extends 'FenchyGalleryBundle::galleryShowBase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# any view specific stylesheets for this view #}    
    <link rel="stylesheet" href="{{ asset('plugins/jquery-ui-1.9.1.custom/css/custom-theme/jquery-ui-1.9.1.fenchy.css') }}" type="text/css" />        
    <link rel="stylesheet" href="{{ asset('plugins/aehlke-tag/css/jquery.tagit.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('plugins/aehlke-tag/css/tagit.ui-zendesk.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ absolute(asset('css/app/sidebar-v2.css')) }}" type="text/css" />
    <link rel="stylesheet" href="{{ absolute(asset('css/app/search-bar-v2.css')) }}" type="text/css" />
    <link rel="stylesheet" href="{{ absolute(asset('css/app/inner-content-v2.css')) }}" type="text/css" />    
    <link rel="stylesheet" href="{{ absolute(asset('css/app/article-box-v2.css')) }}" type="text/css" />    
    <link rel="stylesheet" href="{{ absolute(asset('css/app/tabs-v2.css')) }}" type="text/css" />    
    <link rel="stylesheet" href="{{ absolute(asset('css/app/listing-view-v2.css')) }}" type="text/css" /> 
    <link rel="stylesheet" href="{{ asset('css/gallery/punkave/galleryEdit-V2.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ absolute(asset('css/app/custom-form.css')) }}" type="text/css" /> 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('plugins/ko/knockout-2.2.1.debug.js') }}"></script>
    {% include '::gmapsApiAsset.html.twig' %}
    
    <script type="text/javascript" src="{{ asset('js/ko-extensions/jquery-autocomplete.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/mvvm/user-profile-view-model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lib/gapi-autocomplete.js') }}"></script>    
    <script type="text/javascript" src="{{ asset('js/mvvm/listing-show-view-model.js') }}"></script>    
    <script type="text/javascript" src="{{ asset('plugins/aehlke-tag/js/tag-it.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.tinyscrollbar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fenchydropdown.js') }}"></script> 
    <script type="text/javascript">
        
        var userProfileViewModel;
        var spinnerHTML = '<div id="spinner-div"><i class="icon-spinner icon-spin"></i></div>';
        var tabsJQ;

        $(document).ready(function() {
            $('#description-area').tinyscrollbar();
            $('.add-sticker').fancybox({type:'iframe'});
            $('#tags').tagit({
                readOnly: true
            });
            var geocoder = new google.maps.Geocoder();
            var baseSearchViewUri = '{{ path('fenchy_notice_indexv2') }}';
            var pagination = {{pagination}};
            var usersOwnListing = {{ usersOwnListing ? 'true' : 'false' }};
            {% if(app.security.token.user.id is defined) %}
                var loggedInUserId = {{ app.security.token.user.id }};
            {% else %}
                var loggedInUserId = null;
            {% endif %}
            var initialReviewsP = {{ initialReviewsP | json_encode() | raw }};
            var initialReviewsN = {{ initialReviewsN | json_encode() | raw }};
            
            var translations = {
            
            }
            
            var routes = {
                fenchy_regular_user_reviewseditform: '{{  path('fenchy_regular_user_reviewseditform') }}',
                fenchy_regular_user_reviewssave: '{{ path('fenchy_regular_user_reviewssave') }}',
                fenchy_regular_user_reviewslist:'{{ path('fenchy_regular_user_reviewslist') }}',
                fenchy_regular_user_listingslist: '{{ path('fenchy_regular_user_listingslist') }}'
            }
            
            var displayUserId = {{ displayUser.id }};
            
            var listingId = {{ notice.id }};
            
            listingShowViewModel = new ListingShowViewModel(
                geocoder,
                baseSearchViewUri,
                pagination,
                usersOwnListing,
                displayUserId,
                loggedInUserId,
                initialReviewsP,
                initialReviewsN,
                routes,
                listingId
            );
            
            
            ko.applyBindings( listingShowViewModel, window.document.getElementsByTagName('body')[0] );
            
            autocomplete = new GApiAutocomplete(
                document.getElementById('location'),
                listingShowViewModel );

            tabsJQ = $('.container .inner-content #reviews-tabs', document);
            tabsJQ.tabs();
            
            
            
            
        });
        
    </script>
    {# any view specific JS scripts for this view #}
{% endblock %}

{% block content %}

    {{ facebook_initialize({'frictionlessRequests': true }) }}
    <section class="main content-ltr" data-role="main">
        <div class="wrapper-inner-content">
            <div class="clearfix">
                <section class="sidebar pull-right large-padding-top">
                    {% include 'FenchyRegularUserBundle:Partials:listingSidebar.html.twig' %}
                </section>                
                
                <section class="content pull-left listing-view">
                    {% include '::searchBarV2.html.twig' %}                        
                        <div id="post" class="inner-content">                                                               
                            <article class="main">
                                <header>
                                    <div class="activity">
                                        <a href="#"><i class="{{notice.icon}}"></i></a>
                                    </div>  
                                    <hgroup>
                                        <h1>
                                            {{ notice.title }}
                                            {% if app.user.id is defined and app.user.id != notice.user.id %}
                                            <a style="float: right;" href="{{ url('fenchy_create_notice_sticker', {id: notice.id}) }}" class="add-sticker icon-flag-alt"></a>
                                            {% endif %}
                                        </h1>
                                        <h2>{{ notice.location }}<span class="pending-time">{{ notice.startDate|date('M d H:m')}} to {{ notice.endDate|date('M d H:m')}}</span></h2>
                                    </hgroup>                                        
                                </header>
                                <div class="post-content">

                                    {% if notice.gallery.hasImages %}
                                        <figure>
                                        {% set gallery = notice.gallery %}
                                        {{ block('galleryContainer') }}
                                        </figure>
                                    {% else %}
                                        <div class="listing-spacer"></div>
                                    {% endif %}


                                    <div class="post-meta clearfix">
                                        <div class="tags">
                                            <strong>{{'listing.show.tags'|trans}}:</strong>
                                            <input type="text" id="tags" value="{{ notice.tags }}"/>
                                        </div>

                                        <div class="social">
                                            <!-- AddThis Button BEGIN -->
                                            <div class="addthis_toolbox addthis_default_style ">
                                            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                            <a class="addthis_button_tweet"></a>
                                            <a class="addthis_button_pinterest_pinit"></a>
                                            <a class="addthis_counter addthis_pill_style"></a>
                                            </div>
                                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-519a2041126afff1"></script>
                                            <!-- AddThis Button END -->                                                
                                        </div>                                    

                                    </div>
                                    <div class="post-description">
                                        <h3>{{'listing.show.description'|trans}}</h3>
                                        <div id="description-area" class="scrollable">
                                            <div class="scrollbar">
                                                <div class="track">
                                                    <div class="thumb">
                                                        <div class="end"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="viewport">
                                                <div class="overview">
                                                    <p>{{ notice.content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            {% include 'FenchyRegularUserBundle:Partials:listingReviews.html.twig' %} 
                        </div> 
                </section>                
            </div>
        </div>
    </section>

{% endblock %}
