<form action="{{ path("fos_user_security_check") }}" method="post">
    <fieldset>
        <div class="fieldInput">
            <input id="user-login-email" name="_username" value="{{ last_username }}" required="required" type="text" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"/>
        </div>
        <div class="fieldInput">
            <input id="user-login-pass" type="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
        </div>                
        <p><a class="forgot_pass" href="{{ path('fenchy_user_reset_password') }}"><strong>{{ 'user.forgot_your_password'|trans }}</strong></a></p>
        <div class="submit">
            <div>
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>                                        
        </div>
    </fieldset>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
</form>