<div id="header">
    <a href="{{ path('fenchy_frontend_homepage') }}" >
        <img src="{{ asset('images/start_page_logo.png') }}" alt="{{ 'frontend.logo_alt'|trans }}" />
    </a>
    <h2>{{ 'frontend.fenchy_connects_you_neighbourhood'|trans }}</h2>
    <div>{{ 'frontend.find_right_people'|trans }}</div>
</div>