{% extends 'FenchyRegularUserBundle::settings.html.twig' %}

{% block stylesheets %}
    {{parent()}}
        <link rel="stylesheet" href="{{ asset('css/app/settings-v2.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/app/main-container-v2.css') }}" type="text/css" />
{% endblock %}

{% block settings_content %}

    <section id="profile_left_menu" class="sidebar pull-left">
        {% include 'FenchyRegularUserBundle:Settings:menuV2.html.twig' %}
    </section>

    <section class="content pull-right">
        <div class="profile_right_content">
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-settings change-password">
                <div class="form-box-wrapper">
                    <h2>{{'settings.account.change_password_name'|trans}}</h2>
                    <div class="row input-wrapper">
            {{ form_row(form.current_password) }}
                        </div>

                        <div class="row input-wrapper">
                {{ form_row(form.new.first) }}
                            </div>

                            <div class="row input-wrapper">
                {{ form_row(form.new.second) }}
                                </div>

                {{form_rest(form)}}
                            </div>
                            <footer class="clearfix">
                                <div class="button grey-button pull-left" id="buttons">
                                    <a id="back" class="wrapper" href="{{path('fenchy_frontend_indexv2')}}">
                                        <strong>{{ 'btn.cancel'|trans }}</strong>
                                    </a>                            
                                </div>
                                <div class="button submit pull-right">
                                    <div>
                                        <input type="submit" id="continue" value="{{ 'btn.save'|trans }}"/>                                
                                    </div>
                                </div>
                            </footer> 
                        </form>
        </div>
    </section>
{% endblock %}
